
<p>emp works!</p>
<form>
    <label>Enter Empid</label>
    <input type="number" id="empid" [value]="empid" name="empid"/>
    <br/>
<label>Enter Empname</label>
    <input type="text" id="Empname" [value]="ename" name="ename"/>
     <br/>
<label>Enter Deptno</label>
    <input type="number" id="Deptno" [value]="deptno" name="Deptno"/>
    <br/>
    <!-- <img [src]="personurl" height="200px" width="200px"/>
    <br/>
    <img [src]="imageurl" height="200px" width="200px"/> -->
    <!-- <button (click)="saveClick($event)">save</button> -->
    <input type="submit" value="Save" (click)="saveClick($event)"/>
</form>


